/* google font */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');


/* CSS variables */
:root {
    --primary: #dddddd;
    --dark: #333333;
    --light: #ffffff;
    --shadow: 0 1px 5px rgba(104, 104,104, 0.8);
}
html {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: var(--dark);
}
body {
    background: #cccccc;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: none;
}
img {
    min-width: 100%;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}


/* Navigation */
.main-nav ul {
display: grid;
grid-gap: 20px;
padding: 0;
list-style: none;
grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
    /* transition: all 0.2s ease-in; */
}
/* Top container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
     'showcase showcase top-box-a'
     'showcase showcase top-box-b'
}
/* showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?computer,desktop');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p {
    color: var(--light);
    font-size: 1.3rem;
    margin-top: 0;
}
top-box-a {
    grid-area: top-box-a;
}
top-box-b {
    grid-area: top-box-b;
}